.simpleModal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  position: fixed;
  background: rgba(0,0,0,.4);
}

.simpleModalContent {
  padding: 25px;
  border-radius: 16px;
  background: white;
  min-width: 250px;
}

.simpleModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}